<%= turbo_frame_tag "title_#{dom_id(house)}" do %>
  <%= simple_form_for(house, html: { data: { turbo_frame: "title_#{dom_id(house)}" }, class: "rounded-xl"  }) do |f| %>

    <% if house.errors.any? %>
      <div class="mx-2 bg-red-600/90 text-slate-100 p-4 rounded-md">
        <strong>Room not saved:</strong>
        <ul class="list-disc list-inside">
          <% house.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="flex gap-2">
      <%= f.input :name,
        label: "House name",
        label_html: { class: "sr-only" },
        placeholder: "House name",
        wrapper_html: { class: "grow" },
        error_html: { class: "text-red-400 text-sm mt-1" },
        input_html: {
          class: "grow w-full rounded-md bg-slate-300 dark:bg-slate-800 text-lg text-slate-950 dark:text-slate-100 placeholder:text-slate-500 placeholder:dark:text-slate-500 p-2 focus:outline-none focus:ring-2 focus:ring-teal-400"
        }
      %>

      <% if house.id == nil %>
        <%= f.button :submit, "Add house", class: "cursor-pointer bg-teal-500 hover:bg-teal-600 text-slate-100 px-4 py-2 rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-teal-400" %>
      <% else %>
        <%= f.button :submit, "Save", class: "cursor-pointer bg-teal-500 hover:bg-teal-600 text-slate-100 px-4 py-2 rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-teal-400" %>
      <% end %>
    </div>
  <% end %>
<% end %>
