<%= turbo_frame_tag dom_id(house) do %>
  <div class="p-4 bg-slate-100 dark:bg-slate-900 rounded-xl shadow-md dark:shadow-md/90">
    <%= turbo_frame_tag "title_#{dom_id(house)}" do %>
      <div class="flex justify-between">
        <h2 class="mb-4 font-semibold text-lg text-slate-900 dark:text-slate-200">
          <%= house.name.capitalize %>
        </h2>
        <div class="flex gap-2">
          <%= link_to edit_house_path(house, format: :turbo_stream) do %>
            <%= render "shared/icons/pencil", klasses: "stroke-teal-500 dark:stroke-teal-500 hover:stroke-teal-400" %>
          <% end %>
          <% if house.items.count == 0 %>
            <%= link_to house_path(house), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <%= render "shared/icons/trash", klasses: "stroke-teal-500 dark:stroke-teal-500 hover:stroke-teal-400" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="mb-2 flex gap-2 items-center text-xl text-slate-600 dark:text-slate-400">
      <%= render "shared/icons/items", klasses: "ml-2 w-6 h-6"  %>
      <%= house.items.count %> item<%= 's' if house.items.count != 1 %>
    </div>
    <%= render "rooms/house_rooms", house: house, new_room: new_room %>
    <%= render "users/house_users", house: house, new_invite: new_invite %>
  </div>
<% end %>
