<div class="relative text-xl bg-violet-400 dark:bg-violet-800 py-4 px-6 flex justify-between transition ease-linear duration-150">

  <%= link_to root_path, class: "group inline-flex content-center gap-2 text-md font-medium text-slate-800 dark:text-slate-50 hover:text-teal-700 dark:hover:text-teal-400" do %>
    <%= render "shared/icons/logo", klasses: "dark:stroke-slate-50 dark:group-hover:stroke-teal-400" %>
    StorageBox
  <% end %>

  <%= render "shared/icons/hamburger", klasses: "hover:cursor-pointer w-8 h-8 stroke-slate-800 dark:stroke-slate-50 hover:stroke-teal-700 dark:hover:stroke-teal-400" %>

  <div class="z-10 absolute right-0 top-0 h-svh p-4 w-1/2 bg-violet-400 dark:bg-violet-800 text-slate-950 dark:text-slate-50">
    <div class="flex justify-end px-2">
      <%= render "shared/icons/close", klasses: "hover:cursor-pointer w-8 h-8 stroke-slate-800 dark:stroke-slate-50 hover:stroke-teal-700 dark:hover:stroke-teal-400" %>
    </div>
    <div class="p-2 flex flex-col justify-center h-full">
      <ul class="flex flex-col gap-4">
        <li class="mb-8">
          <%= link_to items_path, class: "group flex content-center gap-4 text-slate-800 dark:text-slate-50 group-hover:text-slate-700 dark:hover:text-slate-200" do %>
            <%= render "shared/icons/items", klasses: "w-8 h-8 dark:stroke-slate-50 group-hover:dark:stroke-slate-400" %>
            Items
          <% end %>
        </li>
        <li>
          <%= link_to houses_path, class: "group flex content-center gap-4 text-slate-800 dark:text-slate-50 group-hover:text-slate-700 dark:hover:text-slate-200" do %>
            <%= render "shared/icons/house", klasses: "w-8 h-8 dark:stroke-slate-50 group-hover:dark:stroke-slate-400" %>
            Houses
          <% end %>
        </li>
        <li>
          <%= link_to rooms_path, class: "group flex content-center gap-4 text-slate-800 dark:text-slate-50 group-hover:text-slate-700 dark:hover:text-slate-200" do %>
            <%= render "shared/icons/room", klasses: "w-8 h-8 dark:stroke-slate-50 group-hover:dark:stroke-slate-400" %>
            Rooms
          <% end %>
        </li>
        <li>
          <%= link_to boxes_path, class: "group flex content-center gap-4 text-slate-800 dark:text-slate-50 group-hover:text-slate-700 dark:hover:text-slate-200" do %>
            <%= render "shared/icons/box", klasses: "w-8 h-8 dark:stroke-slate-50 group-hover:dark:stroke-slate-400" %>
            Boxes
          <% end %>
        </li>
        <li>
          <%= link_to tags_path, class: "group flex content-center gap-4 text-slate-800 dark:text-slate-50 group-hover:text-slate-700 dark:hover:text-slate-200" do %>
            <%= render "shared/icons/tag", klasses: "w-8 h-8 dark:stroke-slate-50 group-hover:dark:stroke-slate-400" %>
            Tags
          <% end %>
        </li>
        <li  class="mt-8">
          <%= link_to houses_path, class: "group flex content-center gap-4 text-slate-800 dark:text-slate-50 group-hover:text-slate-700 dark:hover:text-slate-200" do %>
            <%= render "shared/icons/gear", klasses: "w-8 h-8 dark:stroke-slate-50 group-hover:dark:stroke-slate-400" %>
            Settings
          <% end %>
        </li>
        <li>
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "group flex content-center gap-4 text-slate-800 dark:text-slate-50 hover:text-slate-700 dark:hover:text-slate-400" do %>
              <%= render "shared/icons/log_out", klasses: "w-8 h-8 dark:stroke-slate-50 group-hover:dark:stroke-slate-400" %>
              Log out
            <% end %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "group flex content-center gap-4 text-slate-800 dark:text-slate-50 group-hover:text-slate-700 dark:hover:text-slate-200" do %>
              <%= render "shared/icons/log_in", klasses: "w-8 h-8 dark:stroke-slate-50 group-hover:dark:stroke-slate-400" %>
              Log in
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
