<%= turbo_frame_tag "title_#{dom_id(tag)}" do %>
  <%= simple_form_for(tag, html: { data: { turbo_frame: "title_#{dom_id(tag)}" }, class: "rounded-xl"  }) do |f| %>

    <% if tag.errors.any? %>
      <%= render "shared/form_errors", resource: tag %>
    <% end %>

    <div class="flex gap-2">
      <%= f.input :name,
        label: "Tag name",
        label_html: { class: "sr-only" },
        placeholder: "Tag name",
        wrapper_html: { class: "grow" },
        error_html: { class: "text-red-400 text-sm mt-1" },
        input_html: {
          class: "grow w-full rounded-md bg-slate-200 dark:bg-slate-800 text-lg text-slate-950 dark:text-slate-100 placeholder:text-slate-500 placeholder:dark:text-slate-500 p-2 focus:outline-none focus:ring-2 focus:ring-teal-400"
        }
      %>

      <% if tag.id == nil %>
        <%= f.button :submit, "Add tag", class: "cursor-pointer bg-teal-500 hover:bg-teal-600 text-slate-100 px-4 py-2 rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-teal-400" %>
      <% else %>
        <%= f.button :submit, "Save", class: "cursor-pointer bg-teal-500 hover:bg-teal-600 text-slate-100 px-4 py-2 rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-teal-400" %>
      <% end %>
    </div>
  <% end %>
<% end %>
