<% if room.blank? %>
  <div>
    This room doesn't exist!
  </div>
<% else %>
  <div>
    <%= room.name.capitalize %>
    <%= render "shared/badge", icon: "box" do %>
      <%= room.boxes.count %>
    <% end %>
    <%= render "shared/badge", icon: "items" do %>
      <%= room.items.count %>
    <% end %>
  </div>
<% end %>
