<%= turbo_frame_tag dom_id(item) do %>
  <div class="bg-slate-50 dark:bg-slate-900 rounded-xl shadow-md dark:shadow-md/90 p-4">
    <%= simple_form_for(item, html: { class: "space-y-4" }) do |f| %>
      <% if item.errors.any? %>
        <div class="bg-red-600/90 text-slate-100 p-4 rounded-md">
          <strong>Item not saved:</strong>
          <ul class="mt-2 list-disc list-inside">
            <% item.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.input :name,
        label: "Item Name",
        label_html: { class: "sr-only" },
        placeholder: "Item name",
        error_html: { class: "text-red-400 text-sm mt-1" },
        input_html: {
          class: "mt-2 w-full rounded-md border bg-slate-200 border-slate-600 dark:bg-slate-800 font-semibold text-lg dark:text-slate-100 p-2 focus:outline-none focus:ring-2 focus:ring-teal-400"
        }
      %>

      <div data-controller="item-location" class="flex gap-4">
        <div data-item-location-target="boxSelectWrapper" class="<%= f.object.box_id.blank? ? 'text-slate-200 dark:text-slate-800' : 'text-slate-950 dark:text-slate-100' %> transition-all ease-in-out duration-300 mt-4">
          <%= f.input :box_id, as: :select,
            wrapper: :inline_label,
            collection: Box.all.map { |b| [b.number, b.id] },
            include_blank: "Not in a box",
            label: "Box",
            label_html: { class: "font-medium whitespace-nowrap max-h-min" },
            error_html: { class: "text-red-400 text-sm mt-1" },
            input_html: {
              disabled: f.object.box_id.blank?,
              data: { action: "change->item-location#toggleBox change->item-location#changeRoomToBoxRoom", item_location_target: "boxSelect" },
              class: "w-full rounded-md border p-2 border-slate-600 #{f.object.box_id.blank? ? 'bg-slate-50 dark:bg-slate-900' : 'bg-slate-200 dark:bg-slate-800' } focus:outline-none focus:ring-2 focus:ring-teal-400"
            }
          %>
        </div>

        <div data-item-location-target="roomSelectWrapper" class="<%= f.object.box_id.present? ? 'text-slate-200 dark:text-slate-800' : 'text-slate-950 dark:text-slate-100' %> transition-all ease-in-out duration-300 mt-4">
          <%= f.input :room_id, as: :select,
            wrapper: :inline_label,
            collection: Room.all.map { |r| [r.name.capitalize, r.id] },
            include_blank: "#{item.box&.room.name.capitalize}",
            label: "Room",
            label_html: { class: "font-medium whitespace-nowrap max-h-min" },
            error_html: { class: "text-red-400 text-sm mt-1" },
            input_html: {
              disabled: f.object.box_id.present?,
              data: { action: "change->item-location#toggleRoom",item_location_target: "roomSelect" },
              class: "w-full rounded-md border p-2 border-slate-600 #{f.object.box_id.present? ? 'bg-slate-50 dark:bg-slate-900' : 'bg-slate-200 dark:bg-slate-800' } focus:outline-none focus:ring-2 focus:ring-teal-400"
            }
          %>
        </div>
      </div>

      <%= f.input :notes,
        as: :text,
        label: "Notes",
        label_html: { class: "sr-only" },
        placeholder: "Notes",
        error_html: { class: "text-red-400 text-sm mt-1" },
        input_html: {
          rows: 4,
          class: "mt-2 w-full rounded-md border border-slate-600 bg-slate-200 dark:bg-slate-800 dark:text-slate-100 p-2 focus:outline-none focus:ring-2 focus:ring-teal-400"
        }
      %>

      <%= f.input :image,
        as: :file,
        label: "Image",
        label_html: { class: "sr-only" },
        error_html: { class: "text-red-400 text-sm mt-1" },
        input_html: {
          direct_upload: true,
          class: "w-full file:bg-slate-600 file:text-slate-100 file:px-4 file:py-2 file:rounded file:cursor-pointer file:border-0 file:border-slate-600 border-slate-600 hover:file:cursor-pointer hover:cursor-pointer dark:bg-slate-800 dark:text-slate-200 rounded-md border dark:border-slate-600 focus:outline-none focus:ring-2 focus:ring-teal-400"
        }
      %>

      <div class="flex justify-end gap-2 pt-4">
        <%= link_to "Cancel", item_path(item, closed: false, format: :turbo_stream),
              data: { turbo_frame: dom_id(item), turbo_prefetch: false },
              class: "bg-slate-700 hover:bg-slate-600 text-slate-100 px-4 py-2 rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-teal-400" %>
        <%= f.button :submit, "Save", class: "bg-teal-600 hover:bg-teal-700 text-slate-100 px-4 py-2 rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-teal-400" %>
      </div>

    <% end %>
  </div>
<% end %>
