<%= turbo_frame_tag dom_id(item) do %>
  <div class="bg-slate-50 dark:bg-slate-900 rounded-xl shadow-md dark:shadow-md/90 p-4">
    <%= form_with(model: item, class: "flex flex-col gap-4") do |form| %>
      <% if item.errors.any? %>
        <div class="bg-red-100 dark:bg-red-900 p-3 rounded-lg mb-4">
          <h2 class="text-red-700 dark:text-red-300 font-semibold"><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
          <ul class="list-disc pl-5 mt-2">
            <% item.errors.each do |error| %>
              <li class="text-red-600 dark:text-red-400"><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="flex flex-col gap-1">
        <%= form.label :name, class: "text-slate-900 dark:text-slate-100" %>
        <%= form.text_field :name, class: "rounded p-2 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 text-slate-900 dark:text-slate-100" %>
      </div>

      <div class="flex flex-col gap-1">
        <%= form.label :description, class: "text-slate-900 dark:text-slate-100" %>
        <%= form.text_area :description, rows: 4, class: "rounded p-2 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 text-slate-900 dark:text-slate-100" %>
      </div>

      <div class="flex flex-col gap-1">
        <%= form.label :box_id, "Box", class: "text-slate-900 dark:text-slate-100" %>
        <%= form.collection_select :box_id, Box.all, :id, :number, {}, class: "rounded p-2 border border-slate-300 dark:border-slate-700 bg-white dark:bg-slate-800 text-slate-900 dark:text-slate-100" %>
      </div>

      <div class="flex justify-between mt-4">
        <%= form.submit class: "bg-teal-500 hover:bg-teal-600 text-white py-2 px-4 rounded" %>
        <%= link_to "Cancel", item_path(item, closed: false, format: :turbo_stream), data: { turbo_frame: dom_id(item), turbo_prefetch: false },  class: "bg-slate-300 hover:bg-slate-400 dark:bg-slate-700 dark:hover:bg-slate-600 text-slate-800 dark:text-slate-200 py-2 px-4 rounded" %>
      </div>
    <% end %>
  </div>
  <%#= simple_form_for(@item, html: { class: "space-y-6" }) do |f| %>
<!--    <div>-->
      <%#= f.label :name, class: "block text-sm font-medium text-gray-200" %>
      <%#= f.input :name,
            label: false,
            input_html: {
              class: "mt-1 block w-full rounded-md bg-gray-800 text-white border focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 invalid:border-red-500 peer",
              required: true
            } %>
      <%# if @item.errors[:name].present? %>
<!--        <p class="mt-1 text-sm text-red-400"><%#= @item.errors[:name].first %></p>-->
      <%# else %>
        <%# if @item.name.present? %>
<!--          <p class="mt-1 text-sm text-green-400">Looks good!</p>-->
        <%# end %>
      <%# end %>
<!--    </div>

    <div>
      <%#= f.label :box, class: "block text-sm font-medium text-gray-200" %>-->
      <%#= f.input :box,
            label: false,
            input_html: {
              type: "number",
              class: "mt-1 block w-full rounded-md bg-gray-800 text-white border focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 invalid:border-red-500 peer"
            } %>
      <%# if @item.errors[:box].present? %>
<!--        <p class="mt-1 text-sm text-red-400"><%#= @item.errors[:box].first %></p>-->
      <%# end %>
<!--    </div>

    <div>
      <%#= f.label :description, class: "block text-sm font-medium text-gray-200" %>-->
      <%#= f.text_area :description,
            label: false,
            input_html: {
              rows: 4,
              class: "mt-1 block w-full rounded-md bg-gray-800 text-white border focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
            } %>
<!--    </div>

    <div class="pt-4">
      <%#= f.button :submit, class: "inline-flex items-center px-4 py-2 bg-indigo-600 text-white text-sm font-medium rounded-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>-->
<!--    </div>-->
  <%# end %>

<% end %>
