<%= turbo_frame_tag dom_id(item) do %>
  <%= link_to item_path(item, closed: true, format: :turbo_stream), data: { turbo_frame: dom_id(item), turbo_prefetch: false } do%>
    <div class="relative flex flex-col gap-4 bg-slate-50 dark:bg-slate-900 p-4 rounded-xl shadow-md dark:shadow-md/90">
      <div class="flex flex-col gap-2">
        <h3 class="font-semibold text-lg col-span-2 text-slate-900 dark:text-slate-200">
          <%= @item.name.capitalize %>
        </h3>

        <div class="text-md flex gap-4 text-slate-500 stroke-slate-500 dark:text-slate-400 dark:stroke-slate-400">
          <div class="flex gap-1 items-center flex-wrap">
            <%= render "shared/icons/house", klasses: "w-4 h-4" %>
            <%= @item.box&.room&.house&.name || @item&.room&.house&.name %>
          </div>

          <div class="flex gap-1 items-center flex-wrap">
            <%= render "shared/icons/room", klasses: "w-4 h-4" %>
            <%= @item.box&.room&.name&.capitalize || @item&.room&.name&.capitalize %>
          </div>

          <% if @item.box.present? %>
            <div class="flex gap-1 items-center flex-wrap">
              <%= render "shared/icons/box", klasses: "w-4 h-4" %>
              Box <%= @item.box.number %>
            </div>
          <% end %>
        </div>

        <% if @item.notes %>
          <p class=" text-slate-950 dark:text-slate-200">
            <%= @item.notes %>
          </p>
        <% end %>
      </div>

      <% if @item.tags.present? %>
        <div class="flex flex-wrap gap-2">
          <% @item.tags.each do |tag|  %>
            <%= render "shared/tag", tag: tag, item: @item %>
          <% end %>
        </div>
      <% end %>

      <% if @item.image.attached? %>
          <%= image_tag @item.image, alt: "Picture of #{item.name}", class: "max-w-[100%] max-h-[300px] object-contain rounded-xl mt-2 text-slate-400 dark:text-slate-400" %>
      <% end %>

      <div class="flex justify-end text-sm">
        <%= link_to "Delete", item_path(@item), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "block py-2 px-4 text-white rounded bg-red-300 hover:bg-red-400" %>
        <%= link_to "Edit", edit_item_path(@item, format: :turbo_stream), data: { turbo_frame: dom_id(item), turbo_prefetch: false }, class: "block py-2 px-4 bg-slate-300 hover:bg-slate-400 dark:bg-slate-700 dark:hover:bg-slate-600 text-slate-800 dark:text-slate-200 rounded" %>
      </div>
    </div>
  <% end %>
<% end %>
