<%= turbo_frame_tag dom_id(item) do %>
  <li
    class="relative flex flex-col gap-4 bg-slate-50 dark:bg-slate-900 border-teal-500 p-4 rounded-xl shadow-md dark:shadow-md/90 cursor-pointer hover:shadow-lg dark:hover:shadow-lg/90 hover:-translate-y-1 transition ease-linear duration-150 active:translate-0 active:shadow-sm dark:active:shadow-sm/90 focus:outline-none focus:ring-2 focus:ring-teal-400"
    data-controller="turbo-navigator"
    data-turbo-navigator-url-value="<%= item_path(item, closed: true, format: :turbo_stream) %>"
    data-turbo-navigator-frame-value="<%= dom_id(item) %>"
    data-action="click->turbo-navigator#visit"
    role="link" tabindex="0"
  >
    <div class="flex flex-col gap-2">
      <div class="flex justify-between">
        <h3 class="font-semibold text-xl text-slate-900 dark:text-slate-200">
          <%= @item.name.capitalize %>
        </h3>

        <%= link_to edit_item_path(@item, format: :turbo_stream), data: { turbo_frame: dom_id(item), turbo_prefetch: false }, class: "focus:outline-none focus:ring-2 focus:ring-teal-400" do %>
          <%= render "shared/icons/pencil", klasses: "stroke-teal-500 dark:stroke-teal-500 hover:stroke-teal-400" %>
        <% end %>

      </div>

      <div class="text-md flex gap-4 text-slate-500 stroke-slate-500 dark:text-slate-400 dark:stroke-slate-400">
        <div class="flex gap-1 items-center flex-wrap">
          <%= render "shared/icons/house", klasses: "w-4 h-4" %>
          <%= @item.box&.room&.house&.name || @item&.room&.house&.name %>
        </div>

        <div class="flex gap-1 items-center flex-wrap">
          <%= render "shared/icons/room", klasses: "w-4 h-4" %>
          <%= @item.box&.room&.name&.capitalize || @item&.room&.name&.capitalize %>
        </div>

        <% if @item.box.present? %>
          <div class="flex gap-1 items-center flex-wrap">
            <%= render "shared/icons/box", klasses: "w-4 h-4" %>
            Box <%= @item.box.number %>
          </div>
        <% end %>
      </div>

      <% if @item.notes %>
        <p class=" text-slate-950 dark:text-slate-200">
          <%= @item.notes %>
        </p>
      <% end %>
    </div>

    <% if @item.tags.present? %>
      <div class="flex flex-wrap gap-2">
        <% @item.tags.each do |tag|  %>
          <%= render "tags/tag", tag: tag, item: @item %>
        <% end %>
      </div>
    <% end %>

    <% if @item.image.attached? %>
        <%= image_tag @item.image, alt: "Picture of #{item.name}", class: "rounded-xl mt-2 text-slate-400 dark:text-slate-400", style: "height: 300px; object-fit: cover; object-position: center" %>
    <% end %>
  </li>
<% end %>
