<div class="flex justify-between content-center pt-8 px-6">
  <h1 class="text-4xl font-bold">Items</h1>

  <%= link_to "Add item +", new_item_path, class: "block py-2 px-6 bg-teal-500 hover:bg-teal-600 text-slate-100 dark:text-slate-900 rounded shadow-sm dark:shadow-sm/90" %>
</div>

<div class="mt-4 py-6 mb-2">
  <%= render "search" %>
</div>

<hr class="h-px mx-6 bg-slate-500 border-0 ">

<%= turbo_frame_tag :items do %>
  <p class="text-center mt-4 mb-2 max-h-min font-medium text-md md:text-lg text-slate-600 dark:text-slate-400">
    <%= @number_of_items %> results
  </p>

  <ul class="mb-4 p-2">
    <%= turbo_frame_tag :items_list, class: "flex flex-col gap-4" do %>
      <% @items.each do |item| %>
        <li><%= render partial: "item", locals: { item: item } %></li>
      <% end %>
    <% end %>
    <% if @items.blank? %>
      <li class="mb-8 pl-6 text-md md:text-lg text-slate-950 dark:text-slate-200">
          No items found.
      </li>
    <% end %>
  </ul>

  <div class="mb-8 flex items-center justify-center">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
