<!DOCTYPE html>
<html>
  <head>
    <title>SearchYourStuff</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag "application.css" %>
  </head>

  <body data-controller="sidebar" class="relative bg-slate-200 dark:bg-slate-700 overscroll-none">
    <%= render "shared/navbar" %>

    <div data-sidebar-target="content" class="mx-auto max-w-2xl">
      <%= yield %>
    </div>

    <%= render "shared/sidebar", klasses: "hidden fixed right-0 top-0 h-svh max-w-max" %>

    <%= render "shared/flashes" %>
  </body>
</html>
