<!DOCTYPE html>
<html>
  <head>
    <title>StorageBox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag "application.css" %>
  </head>

  <body class="relative bg-slate-200 dark:bg-slate-700 overscroll-none">
    <%= render "shared/navbar" %>

    <div class="mx-auto max-w-2xl">
      <%= yield %>
    </div>

    <%= render "shared/flashes" %>
  </body>
</html>
